.grid-container {
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1rf auto;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "section section sidebar"
    "article article sidebar"
    "footer footer footer";
    gap: 10px;
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #0018ee;
    color: aliceblue;
    text-align: center;
    padding: 3rem;
}

.nav {
    grid-area: nav;
    background-color: #2dbcc6;
    padding: 3rem;
    text-align: center;
    height: max-content;
}

.section {
    grid-area: section;
    background-color: #f1c40f;
    text-align: center;
    height: 20rem;
    padding: 20px;
}

.article {
    grid-area: article;
    background-color: #f54545;
    text-align: center;
    height: 20rem;
    padding: 20px;

}
.sidebar {
    grid-area: sidebar;
    background-color: #f4f4f4;
    width: 20rem;
    text-align: center;
    padding: 20px;
}

.footer {
    grid-area: footer;
    background-color: #0018ee;
    color: aliceblue;
    text-align: center;
    padding: 5px;
}

body {
    background-color: black;
}

@media (max-width: 768) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "navbar"
        "main-banner"
        "main-content"
        "left-sidebar"
        "right-sidebar"
        "gallery"
        "featured-articles"
        "footer";
    }

}
